<h1><center> Récupérer et connaître vos données </center></h1>

## Étape 1. Importez les bibliothèques nécessaires

In [2]:
import pandas as pd
import numpy as np
import os

## Étape 2. Importez le jeux de données à partir de:

https://drive.google.com/file/d/1NAbdamBdX6i7AH55SngTte8su3WRuyri/view?usp=sharing

## Étape 3. Attribuez-le à une variable appelée data.

In [3]:
os.listdir("../pandas_exercices")

['.ipynb_checkpoints',
 '0-Pandas_Exercices.ipynb',
 '1-Pandas_Exercices.ipynb',
 'Annalyse_des_Donnees-Statistiques_Corr.ipynb',
 'data.csv',
 'data.tsv',
 'drinks.csv',
 'euro_2012.csv',
 'Pandas.ipynb',
 'qualite-vin-rouge.csv']

In [4]:
data = pd.read_csv("../pandas_exercices/data.tsv", header = 0, sep = "\t")

## Étape 4. Voir les 10 premières entrées

In [5]:
print(data[:10])

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

## Étape 5. Quel est le nombre d'observations dans le jeux de données?

In [6]:
print("nombre d'observations :" , len(data), "\n")

print("par colonnes :\n", data.count())

nombre d'observations : 4622

par colonnes :
 order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

## Étape 6. Quel est le nombre de colonnes dans le jeux de données?

In [7]:
col_names = data.columns
print(len(col_names))

5

## Étape 7. Afficher le nom de toutes les colonnes.

In [8]:
entete = list(col_names)
print(entete)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

## Étape 8. Comment le jeux de données est-il indexé?

In [9]:
data.index

RangeIndex(start=0, stop=4622, step=1)

## Étape 9. Quel est l'article le plus commandé? Pour l'article le plus commandé, combien d'articles ont été commandés?

In [12]:
v = data.groupby("item_name")
v = v.sum()
v = v.sort_values(by = 'quantity', ascending = False)
top = v.iloc[0:1] 
print(top)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [37]:
v = data.groupby("item_name")
v = v.sum()
v = v.sort_values(by = 'quantity', ascending = False)
v.head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

In [45]:
w = data.groupby('item_name')['quantity'].sum()
w = w.sort_values(ascending = False)
w.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

## Étape 10. Quel était l'article le plus commandé dans la colonne choice_description?

In [173]:
a = data.choice_description.value_counts()
a.head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

## Étape 11. Combien d'articles ont été commandés au total?

In [39]:
tot = data.quantity.sum()
print(tot)

4972

## Étape 12. Transformez le prix de l'article en flottant

### Étape 12.a Vérifiez le type de la variable item_price

In [20]:
data.item_price.dtypes

dtype('O')

### Étape 12.b Créer une fonction lambda et modifier le type de item_price en float

In [21]:
g = lambda x : float(x.replace('$','').replace(' ',''))

data['item_price'] = data['item_price'].apply(g)

### Étape 12.c Vérifiez le type de la variable item_price

In [22]:
data.item_price.dtype

dtype('float64')

## Étape 13. Quel est le chiffre d'affaires pour la période dans le jeux de données?

In [170]:
chiffre_affaires  = np.round(sum(data.quantity*data.item_price),1)
print(chiffre_affaires)

39237.0

## Étape 14. Combien de commandes ont été passées au cours de la période?

In [171]:
len(data.groupby("order_id"))

1834

## Étape 15. Quel est le montant moyen des revenus par commande?

In [172]:
v = data.groupby("order_id")
v = v.sum()

moyenne = np.round(v.item_price.mean(),2)

print(moyenne)

18.81

In [40]:
data.groupby('order_id')['item_price'].mean()

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64

## Étape 16. Combien d'articles différents sont vendus?

In [137]:
len(data.groupby("item_name"))

50

In [47]:
len(data.item_name.unique())

50