<h1><center> Récupérer et connaître vos données </center></h1>

## Étape 1. Importez les bibliothèques nécessaires

In [2]:
import pandas as pd
import numpy as np

## Étape 2. Importez le jeux de données à partir de:

## Étape 3. Attribuez-le à une variable appelée data.

In [3]:

url = 'data.tsv'
    
data = pd.read_csv(url, sep = '\t')

## Étape 4. Voir les 10 premières entrées

In [4]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Étape 5. Quel est le nombre d'observations dans le jeux de données?

In [5]:
data.shape[1]  # ou chipo.info()

5

## Étape 6. Quel est le nombre de colonnes dans le jeux de données?

In [6]:
data.shape[1]

5

## Étape 7. Afficher le nom de toutes les colonnes.

In [7]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## Étape 8. Comment le jeux de données est-il indexé?

In [8]:
data.index

RangeIndex(start=0, stop=4622, step=1)

## Étape 9. Quel est l'article le plus commandé? Pour l'article le plus commandé, combien d'articles ont été commandés?

In [13]:
print(data.head(10))

# c = data.groupby('item_name')
# print(c.head(50))

# c = c.sum()
# # print(c.head())
# c = c.sort_values(['quantity'], ascending=False)
# c.head(1)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

## Étape 10. Quel était l'article le plus commandé dans la colonne choice_description?

In [23]:
c = data.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
# print(c)
c.head(1)
# Diet Coke 159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## Étape 11. Combien d'articles ont été commandés au total?

In [24]:
total_items_orders = data.quantity.sum()
total_items_orders

4972

## Étape 12. Transformez le prix de l'article en flottant

### Étape 12.a Vérifiez le type de la variable item_price

In [25]:
data.item_price.dtype

dtype('O')

### Étape 12.b Créer une fonction lambda et modifier le type de item_price en float

In [26]:
dollarizer = lambda x: float(x[1:-1])
data.item_price = data.item_price.apply(dollarizer)

### Étape 12.c Vérifiez le type de la variable item_price

In [27]:
data.item_price.dtype

dtype('float64')

## Étape 13. Quel est le chiffre d'affaires pour la période dans le jeux de données?

In [28]:
revenue = (data['quantity']* data['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

## Étape 14. Combien de commandes ont été passées au cours de la période?

In [29]:
orders = data.order_id.value_counts().count()
orders

1834

## Étape 15. Quel est le montant moyen des revenus par commande?

In [19]:
# Solution 1

data['revenue'] = data['quantity'] * data['item_price']
order_grouped = data.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

# # Solution 2

# data.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

## Étape 16. Combien d'articles différents sont vendus?

In [30]:
data.item_name.value_counts().count()

50