# Grand DÃ©bat National - La Transition Ecologique

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("transition_eco.csv", sep = ",")
df.head(5)

,ref,author_type,zip_code,vie_touchee_rechauf,contribuer_protec_env,existe_chauffage_alt
0,4,Citoyen_Citoyenne,97231,NaN,NaN,NaN
1,5,Citoyen_Citoyenne,57000,NaN,NaN,NaN
2,6,Citoyen_Citoyenne,34140,Non,Non,Non
3,7,Citoyen_Citoyenne,17400,Non,Non,Non
4,8,Citoyen_Citoyenne,35430,Oui,Oui,Oui

In [8]:
df.shape

(87562, 6)

In [4]:
df.isnull().sum()

ref                          0
author_type              15456
zip_code                     0
vie_touchee_rechauf       8279
contribuer_protec_env     8311
existe_chauffage_alt     12220
dtype: int64

In [17]:
vie = df.vie_touchee_rechauf.value_counts(normalize = True)
protec = df.contribuer_protec_env.value_counts(normalize = True)
chauf = df.existe_chauffage_alt.value_counts(normalize = True)

print(vie)
print(protec)
print(chauf)

Oui    0.66467
Non    0.33533
Name: vie_touchee_rechauf, dtype: float64
Oui    0.943849
Non    0.056151
Name: contribuer_protec_env, dtype: float64
Oui    0.598444
Non    0.401556
Name: existe_chauffage_alt, dtype: float64